.card {
  display: flex;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 14px;
}

.card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 16px;
  border: 5px groove black;
  border-radius: 8px; 
  background-color: pink;
  justify-content: center;
}

.name {
  font-size: 1.5rem;
  margin: 0 0 8px;
}

.park {
  font-size: 1.3rem;
  margin: 0 0 8px;
  font-family: cursive;
  font-weight: bolder;
}

.type {
  font-size: 0.9rem;
  margin: 0 0 8px;
}

.height {
  font-size: 0.9rem;
  margin: 0 0 8px;
}
.speed {
  font-size: 0.9rem;
  margin: 0 0 8px;
}

.inversions {
  font-size: 0.9rem;
}

.minHeightRequirement {
  font-size: 0.9rem;
  margin: 0 0 8px;
}
