div {
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 2px 0 5px;
    margin: 3px;
    list-style-type: square;
}


p {
    padding: 5px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 8px groove pink;
    margin-top: 10px;
}